<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Piso</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Modificar Piso</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>Modificar Piso</h1>
        
        <form method="post" th:action="@{/piso/modificar/{id}(id=${piso.id})}">
            <div class="mb-3">
                <label for="ciudad" class="form-label">Ciudad:</label>
                <input type="text" class="form-control" id="ciudad" name="ciudad" th:value="${piso.ciudad}">
            </div>
            <div class="mb-3">
                <label for="ubicacion" class="form-label">Dirección:</label>
                <input type="text" class="form-control" id="ubicacion" name="ubicacion" th:value="${piso.ubicacion}">
            </div>
            <div class="mb-3">
                <label for="annos" class="form-label">Año de construcción:</label>
                <input type="text" class="form-control" id="anno" name="anno" th:value="${piso.anno}">
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio de compra:</label>
                <input type="text" class="form-control" id="precio" name="precio" th:value="${piso.precio}">
            </div>
            <div class="mb-3">
                <label for="estado" class="form-label">Estado (Libre/Alquilado):</label>
                <input type="text" class="form-control" id="estado" name="estado" th:value="${piso.estado}">
            </div>
            
            <!-- INQUILINO -->
            <div class="mb-3">
                <label for="inquilinoNombre" class="form-label">Nombre del Inquilino:</label>
                <input type="text" class="form-control" id="inquilinoNombre" name="inquilinoNombre" th:value="${piso.inquilinoNombre}">
            </div>
            <div class="mb-3">
                <label for="inquilinoDNI" class="form-label">DNI del Inquilino:</label>
                <input type="text" class="form-control" id="inquilinoDNI" name="inquilinoDNI" th:value="${piso.inquilinoDNI}">
            </div>
            <div class="mb-3">
                <label for="inquilinoIBAN" class="form-label">IBAN del Inquilino:</label>
                <input type="text" class="form-control" id="inquilinoIBAN" name="inquilinoIBAN" th:value="${piso.inquilinoIBAN}">
            </div>
            
            <!-- INGRESOS -->
            <div class="mb-3">
                <label for="ingresoMensual" class="form-label">Ingreso Mensual:</label>
                <input type="number" class="form-control" id="ingresoMensual" name="ingresoMensual" th:value="${piso.ingresoMensual}">
            </div>
            
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>